@model IEnumerable<MyFamily.Models.MemberViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Members List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Member</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>                
                <img src="~/images/@item.ImagePath" height="40" width="40">
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.MemberId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MemberId }, new{onclick="return confirm('Are you sure want to Delete?')"})
            </td>
        </tr>
}
    </tbody>
</table>
